<h1>Contact us</h1>

<p>We like receiving emails</p>

<h2>Who do you want to contact?</h2>
<form action="/contact" method="get">
<label for="member">Please type a name</label>
<input id="member" name="member" type="text" placeholder="Charlie">
<input type="submit">
</form>


<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<%= link_to "Go back home", root_path %>
